<!--全局右侧底部区域-->

<!--APP下载二维码-->
<!--<div class="mwt-panel">-->
<!--  <div class="mwt-head">扫描二维码进群</div>-->
<!--  <div class="mwt-body">-->
<!--    <div id="head-qrdiv" style="display:block;position:relative;border:none;height:160px;">-->
<!--      <span></span>-->
<!--	</div>-->
<!--  </div>-->
<!--</div>-->
<!-- 贰肆天气小组件 -->
<div id="weather-view-he"></div>
<script>
  WIDGET = {ID: 'ux7RKe5KRb'};
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/view/static/js/r.js?v=1111"></script>

